<%= form_for(@profile) do |f| %>
	<p>
		
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :bio %>
		<%= f.text_field :bio %>
	</p>
	<p>
		<%= f.label :image %>
		<%= f.file_field :image, :class => 'dropzone dz-message' %>
	</p>
	<p>
		
	</p>
	<%= f.submit 'Save' %>
<% end %>