<h1>Profiles#show</h1>

<% if user_signed_in? %>
	<% if @profile.user_id === current_user.id %>
		<button class="btn btn-default"><%= link_to 'Edit Profile', profile_edit_path(@profile) %></button><br>
	<% end %>
<% end %>

<%= image_tag @profile.image.url(:medium) %><br>

<h1><%= @profile.name %></h1>
<!-- <%= @user.email %><br> -->
<%= @profile.bio %>


<% @posts.each do |p| %>

	<% if p.user_id === @profile.user_id %>
		
				<%= link_to 'this post', post_path(p.id) %><br>
				<% if p.image.content_type === nil %>
				
				<% else %>	
					<%= image_tag p.image.url %>
				<% end %>
				Title: <%= p.title %>
				<%= p.content %>
			
	<% end %>
<% end %>
