<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<% if user_signed_in? %>
	<% if @profile.user_id === current_user.id %>
		<%= link_to 'Edit Profile', profile_edit_path(@profile) %><br>
	<% end %>
<% end %>

<%= image_tag @profile.image.url(:medium) %><br>

<%= @profile.inspect %><br>
<%= @profile.name %><br>
<%= @user.email %><br>
<%= @profile.bio %>

<ul>
<% @posts.each do |p| %>

	<% if p.user_id === @profile.user_id %>
		<li>
			<ul>
				<%= link_to 'this post', post_path(p.id) %><br>
				<% if p.image.url %>
					
				<% else %>	
					<li><%= image_tag p.image.url(:thumb) %></li>
				<% end %>
				<li>Title: <%= p.title %></li>
				<li><%= p.content %></li>
			</ul>
		</li>
	<% end %>
<% end %>
</ul>