<h1 class="col-xs-12">Posts#index</h1>

<% @posts.each do |p| %>
	
	<div class="border-element">
		<!-- Profile by line -->
		
		<%= link_to image_tag(p.profile.image.url(:thumb), :class => 'img-circle text-left'), profile_path(p.profile.id) %>
		<h5 class="text-left">	
			<%= p.profile.name %>
		</h5>
		<!-- Post information -->
		<h1 class="text-left"><%= p.title %></h1>
		
		<% if p.image.content_type === nil %>
			
		<% else %>
			<%= image_tag p.image.url %><br>
		<% end %>
		
		<p class="text-left"><%= raw(p.content) %></p>
	</div>
	
<% end %>