<div class="spacer"></div>

<% @posts.each do |p| %>
	
	<div class="border-element">
		<!-- Profile by line -->
		<p class="text-left profile-name">	
		<%= link_to image_tag(p.profile.image.url(:thumb), :class => 'img-circle text-left profile-image-styles'), profile_path(p.profile.id) %>
		
			<%= p.profile.name %>
		</p>
		<!-- Post information -->
		<h1 class="text-left"><%= p.title %></h1>
		
		<% if p.image.content_type === nil %>
			
		<% else %>
			<%= image_tag p.image.url %><br>
		<% end %>
		
		<p class="preview-text text-left"><%= raw(p.content) %></p>
	</div>
	
<% end %>