<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for :post, url: posts_create_path do |f| %>
	
	<%= f.label :title %>
	<%= f.text_field :title %><br>

	<%= f.label :content %>
	<%= f.text_area :content %><br>

	<%= f.label :image %>
	<%= f.file_field :image %>

	<%= f.submit %>

<% end %>